/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--comic);
    color: white;
}

/* Estilos del dashboard */
.conteinerDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barraVertical.active {
    width: 225px;
    display: block;
}
#toggleSidebar{
    display: none;
}

.barraVertical {
    display: none; /* No se muestra por defecto */
    height: 100%;
    background-color: red;
    transition: width 0.3s;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.barraVertical ul li {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: white;
    list-style-type: none;
    font-weight: bold;
}

/* Estilos de la barra de búsqueda */
.lupa-busqueda {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
}

#barra-busqueda {
    height: 40px;
    width: 175px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-weight: bold;
}

#lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
}

/* Media queries */
@media (min-width: 768px) {
    .conteinerDashboard {
        display: block; /* Cambia a bloque en dispositivos de 768px o más */
    }

    .barraVertical {
        display: block; /* Muestra la barra vertical en dispositivos de 768px o más */
    }
    #toggleSidebar{}

}
