main.main-delete{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #72c59e;
}
div.card-p-5{
    background-color: #72c59e;
    /* min-height: 30vh; */
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
}
p.card-body{
    font-size: 20px;
    background-color: #72c59e;
    padding: 6px;
    font-family: var(--fahkwang);
    margin: 0;
}
div.image-delete{
    /* border: solid 1px #9ab3a7; */
    /* height: 37vh; */
    /* margin: 4px; */
    border-radius: 10px;
}
img{
    /* padding: 3px; */
    border-radius: 6px;
    width: 92%;
    margin: 10px;
    /* text-align: center; */
    align-items: center;
}
div.container-b{
    margin: 10px;
}
div.descrip-delete{
    color: black;
    font-family: var(--fa-font-regular);
    font-size: 18px;
    /* margin: 10px; */
}
div.price-delete{
    color: black;
    /* border: solid; */
    font-size: 20px;
}
div.category-delete{
    color: black;
    font-size: 17px;
    /* padding: 10px; */
}
form{
    display: flex;
    height: 200;
    flex-direction: column;
    width: 22vh;
    background-color: #364f5e;
    border-radius: 10px;
    height: 45vh;
    opacity: 0.8;
    align-items: center;
}
button.btn.btn-danger{}
a.btn.btn-dark{
    font-size: 18px;
    padding: 1px;
    font-family: var(--comic);
    height: 30px;
    width: 100px;
}


@media(min-width:361px){
    main.main-delete{}
div.card-p-5{
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
}
p.card-body{}
div.image-delete{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
img{
}
div.container-b{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

div.descrip-delete{
    font-size: 20px;
}
div.price-delete{
    font-size: 21px;
    margin: 20px;
}
div.category-delete{}
form{
    margin: 10px;
}
button.btn.btn-danger{
    width: 100px;
}

a.btn.btn-dark{
    padding: 5px;
    font-size: 15px;
    font-family: var(--comic);
}

}

@media(min-width:768px){
    main.main-delete{
    /* display: flex; */
    align-items: center;
    border: solid 10px;
    border-radius: 10px;
    margin: 15px;
    width: 50%;
}
div.card-p-5{
    /* min-height: 53vh; */
}
p.card-body{
    font-size: 30px;
}
div.image-delete{
    width: 40%;
}
img{border-radius: 80px;/* margin: 20px; *//* width: 600px; */}
div.container-b{
    /* display: flex; */
}

div.descrip-delete{
    font-size: 30px;
}
div.price-delete{
    font-size: 30px;
}
div.category-delete{
    font-size: 30px;
}
form{display: flex;flex-direction: column;}
button.btn.btn-danger{
    font-size: 28px;
    height: 50px;
    width: 169px;
    /* display: flex; */
    /* flex-direction: column; */
}

a.btn.btn-dark{
    font-size: 28px;
    width: 170px;
    height: 50px;
}

}