.main-forme {
    background-color: #dfceb6;
    padding: 2% 10% 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../design/imgProducts/5.jpg');
}

.main-forme form {}

.main-forme .form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gri);
    /* position: relative; */
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
    justify-content: flex-start;
    height: auto;
    width: auto;
    font-size: 25px;
}

.form-edit div {
    text-align: center;
    margin: 9px;
    /* border-bottom: var(--grisBoton) solid; */
    width: 100%;
}
.form-edit div input{
    border-radius: 6px;
    padding: 4px;
    background-color: var(--gris);
    width: 90%;
}
.form-edit .conteiner-x-edit{
    right: 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
}
 i.fa-solid.fa-xmark{
 color: #000;
 /* position: relative; */
 /* top: 125px; */
 /* left: 118px; */
 /* display: flex; */
 flex-direction: row;
 /* display: block; */
 /* display: flex; */
 }
/*titulo*/
.form-edit .titulo {
    margin: 8px;
    color: var(--gris);
    border-bottom: solid;
}




.form-edit .edit-title {}



/*precio*/

.form-edit .edit-price {}

.form-edit .edit-price input {}



/*category*/

.form-edit .edit-category {}

.edit-category label {
    color: var(--gris);
}
.edit-category option {
}




/*descripcion*/

.form-edit .edit-description {}

 .edit-description input {}

/*imagen*/
.form-edit .edit-image {
    /* background-color: var(--azul); */
}

.form-edit .edit-image label {
    color: var(--gris);
}

.form-edit .edit-image input {
    width: 71%;
    background-color: var(--gri);
}







/*boton*/


.form-edit .button {/* flex: 1; */display: flex;flex-direction: column;align-items: center;}

.form-edit .button button {
    background-color: #198754;
    /* border-radius: 9px; */
    border: none;
    transition: 0.1s;
    /* width: 87px; */
    /* flex: 1; */
}



/*dispositivos superiores*/

@media  (min-width: 361px){
    .main-form {
        background-color: var(--gris);
        padding: 12%;
    }

    .main-form form {}

    .main-form .form-edit {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--gri);
        position: relative;
        /* flex-wrap: wrap; */
        box-shadow: 0px 0px 8px black;
    }

    .form-edit div {
        text-align: center;
        margin: 9px;
        width: 50%;
        /* border-bottom: var(--grisBoton) solid; */
    }
    .form-edit div input{
        border-radius: 6px;
        width: 100%;
        padding: 4px;
        background-color: var(--gris);
    }
    .form-edit .conteiner-x-edit{
        right: 0px;
        display: inline-block;
        position: absolute;
        top: 0px;
    }
    i.fa-solid.fa-xmark{
     color: black;
     /* position: relative; */
     left: 60px;
     top: 180px;
     }
    /*titulo*/
    .form-edit .titulo {
        margin: 8px;
        border-bottom: solid;
        color: var(--gris);
    }




    .form-edit .edit-title {}



    /*precio*/

    .form-edit .edit-price {}

    .form-edit .edit-price input {}



    /*category*/

    .form-edit .edit-category {
    width: auto;
    /* position: absolute; */
    bottom: 15%;
    right: 48%;
}

.edit-category label {
    color: var(--gris);
}
.edit-category option {
}



    /*descripcion*/

    .form-edit .edit-description {}

     .edit-description input {}

    /*imagen*/
    .form-edit .edit-image {
        /* background-color: var(--azul); */
        width: 38%;
        position: relative;
        left: 20%;
    }

    .form-edit .edit-image label {
    color: var(--gris);
}

    .form-edit .edit-image input {
        width: 161px;
        background-color: var(--gri);
    }







    /*boton*/


    .form-edit .button {
    }

    .form-edit .button button {
        background-color: var(--verde);
        /* border-radius: 9px; */
        border: none;
        transition: 0.1s;
        width: 147px;
    }
    .form-edit .button button:hover{
        box-shadow:0px 0px 8px rgb(18, 16, 16) ; 
    }
}