   /*Celular*/
   @media(max-width: 360px) {

       .footer {
           background: var(--rojo);
           min-height: 19vh;
           /* display: flex; */
           /* justify-content: space-around; */
       }

       .footer .info-footer {}

       .footer .info-footer ul {
   
       }

       .footer .conteiner-phone {
    /* margin: 76px; */
}

       .conteiner-phone i {}

       .conteiner-phone a {

       
       }


       .direction-f {
           display: none;
       }

       .conteiner-location {
    display: flex;
    margin-top: auto;
}

      i {}


       h3 {
    font-size: small;
}

       h2 {}

       .Redes {
           display: none;
       }
       .conteiner-iconos{
       display: none;
       }
       div.sobre-n{
    display: flex;
    flex-direction: column;
    align-items: center;
}
       h2.sobre-nos{
    /* margin: 87px; */
    /* position: relative; */
    left: 74px;
    font-size: 20px;
    /* padding: 61px; */
}

       .conteiner-iconos ul {}

       .conteiner-iconos ul li a {}


       .contenedor-copy h2 {}

       .contenedor-copy p {}
   }

   .footer.sobre-n {
    
/* display: none; */
    
/* position: absolute; */
    
/* left: 34%; */
    
/* display: flex; */
   }

div.container-copy{
    /* display: block; */
    text-align: center;
}

   /*Tablet*/
   @media (min-width: 361px) {

       .footer {
    background-color: var(--rojo);
    /* width: 100%; */
    display: flex;
    /* position: relative; */
    /* height: 100vh; */
    /* display: table; */
    /* clear: both; */
    min-height: 29vh;
    flex-direction: column;
}
  .footer .conteiner-phone {
    display: none;
}

       .conteiner-phone i {}

       .conteiner-phone a {
       }
      

       .footer  ul {
    /* display: flex; */
    /* position: relative; */
    /* padding-top: 74px; */
    /* margin-bottom: 0px; */
    /* height: 113px; */
    display: inline-flex;
    top: 118%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

       .footer  .conteiner-phone {}

       .conteiner-phone i {}

       .conteiner-phone a {}


       .direction-f {
    margin: 10px;
    margin-top: 28px;
}

       .conteiner-location {}
 i {}

 h3 {
    font-size: medium;
    margin-bottom: 0px;
    position: relative;
    left: 10px;
}

        h2 {
    /* margin-bottom: 31px; */
    color: wheat;
    /* margin-top: 7px; */
    border-bottom: solid wheat;
    /* margin-top: 0px; */
    /* margin: 0px; */
}

       .Redes {/* display: inline-flex; */color: wheat;/* margin-bottom: 18px; *//* text-align: center; *//* top: 150%; *//* border-bottom: solid wheat; */margin: 0px;flex-direction: column;}

       .conteiner-iconos {
    display: inline-flex;
    flex-direction: column;
    /* margin-left: -1%; */
    /* text-align: center; */
    align-items: center;
}
div.sobre-n{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2.sobre-nos{}

       .conteiner-iconos a {}



       .contenedor-copy h2 {}

       .contenedor-copy p {}


   .sobre-n .sobre-nos {
    color: wheat;
    /* margin-bottom: 29px; */
    border-bottom: solid wheat;
    /* width: 79%; */
    margin: 10px;
}
 .sobre-n p {

/* margin-left: -42px; */

/* margin-bottom: 0px; */

margin: 0px;
}
div.container-copy{
    /* text-align: center; */
    /* margin-top: 30px; */
    position: relative;
    top: 110px;
}
p.text{
    margin: 0px;
}

}


@media (min-width: 768px) {
    .footer {
        background: var(--rojo);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 15vh;
    }

    .footer .info-footer {}

    .footer .info-footer ul {

    }

    .footer .conteiner-phone {}

    .conteiner-phone i {}

    .conteiner-phone a {

    
    }


    .direction-f {
        display: none;
    }
p.text{
    position: relative;
    /* right: 150%; */
    /* left: -90%; */
    margin: 0;
    top: 40px;
}
    .conteiner-location {

}

    .conteiner-location i {}


   h3 {
 
}

   h2 {}

    .Redes {
    }
    .conteiner-iconos{
    /* position: relative; */
    left: 39%;
    }
    h2.sobre-nos{
}

    .conteiner-iconos ul {
}

    .conteiner-iconos ul li a {}


    .contenedor-copy h2 {}

    .contenedor-copy p {}


.footer .sobre-n {
    display: flex;
    /* position: relative; */
    right: 12%;
}
div.container-copy{
    /* position: relative; */
    /* right: 90%; */
    /* text-align: center; */
    /* top: 105px; */
    /* left: 0px; */
    /* margin-top: 0px; */
    height: 0;
}


}


   