    .caja-footer{
        background: var(--rojo);
    }
    .footer .info-footer {
    text-align: center;
    padding-top: 10px;
    width: 100vw;
    }

    .footer .info-footer ul {padding: 0;}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
        padding-top: revert;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .conteiner-phone a {

text-decoration: none;

color: black;

padding-top: 5px;

font-weight: bold;
}


    .direction-f {
        display: none;
    }

    .conteiner-location {
    display: flex;
    width: 100%;
    justify-content: center;
    }

    .conteiner-location i {
    font-size: 25px;
    }


    .conteiner-location h3 {
    font-size: 15px;
    margin: 0;
    padding-top: 10px;
    font-weight: bolder;
    }

    .conteiner-location h2 {}

    .Redes {
        display: none;
    }

    .conteiner-iconos {
    padding: 10px 0px;
}

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        display: none;
    }

    .contenedor-copy p {
        margin: 0;
        font-size: 9.5px;
        font-weight: bold;
    }

/*Tablet*/
@media (min-width: 425px) {

    .footer {
    }

    .footer .info-footer {
    padding-top: 30px;
}

    .footer .info-footer ul {
}

    .footer .info-footer .conteiner-phone {}

    .conteiner-phone i {}

    .conteiner-phone a {}


    .direction-f {
        left: 50%;
        display: inline;
        top: -34%;
    }

    .conteiner-location {}

    .conteiner-location i {}


    .conteiner-location h3 {}

    .conteiner-location h2 {}

    .Redes {
        margin-bottom: 32px;
    }

    .conteiner-iconos {}

    .conteiner-iconos a {}



    .contenedor-copy h2 {}

    .contenedor-copy p {}

}




/*Laptop*/
@media screen and (min-width: 769px) {

    .footer {
background: var(--rojo);
}

    .footer .info-footer {
    padding: 0;
}

    .footer .info-footer ul {
    display: flex;
    flex-wrap: wrap;
}

    .footer .info-footer .conteiner-phone {
        display: none;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .conteiner-phone a {
}


    .direction-f {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
    }

    .conteiner-location {
        font-size: 17px;
    }

    .conteiner-location i {
        font-size: 37px;
    }


    .conteiner-location h3 {
        font-size: 17px;
        font-family: var(--poppins);
    }

    .conteiner-location h2 {}

    .Redes {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
        display: block;
        width: 150px;
    }

    .conteiner-iconos {
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
        display: flex;
        width: 150px;
    }

    .contenedor-copy p {
        font-family: var(--poppins);
        font-size: 9px;
    }

}