   /*Celular*/
@media(max-width: 360px) {

    .footer {background: var(--rojo);height: 22vh;justify-content: center;align-items: center;flex-direction: row;margin-bottom: -23px;}
}
    .footer .info-footer {
        margin: 27px;
    }

    .footer .info-footer ul {
    display: flex;
}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 33px;
        position: relative;
        right: 32px;
        /* top: -7px; */
        bottom: 1px;
    }

    .conteiner-phone a {
/* padding-top: 20px; */
/* margin-right: 52px; */
position: relative;
/* left: 10px; */
right: 16px;
text-decoration: none !important;
}


    .direction-f {
        display: none;
    }

    .conteiner-location {
        display: flex;
        justify-content: center;
        /* padding-bottom: 22px; */
    }

    .conteiner-location i {
        font-size: 35px;
        position: relative;
        left: 20px;
        top: 10px;
    }


    .conteiner-location h3 {
        display: flex;
        display: inline-block;
        /* padding-top: 21px; */
        /* margin-right: 48px; */
        position: relative;
        left: 30px;
    }

    .conteiner-location h2 {}

    .Redes {
        display: none;
    }

     .conteiner-iconos ul {
        list-style: none;
    }

    .conteiner-iconos ul li a   {
                text-decoration: none;

    }


    .contenedor-copy h2 {
        display: none;
    }

    .contenedor-copy p {
        display: flex;
        font-size: 10px;
        /* margin-left: -40px; */
    }



/*Tablet*/
@media (min-width: 361px) {

    .footer {
        display: flex;
        background: var(--rojo);
        height: 240px;
    }

    .footer .info-footer {}

    .footer .info-footer ul {
    position: relative;
    /* right: 260px; */
    left: 28px;
    top: 10px;
}

    .footer .info-footer .conteiner-phone {}

    .conteiner-phone i {}

    .conteiner-phone a {}


    .direction-f {
        position: relative;
        left: 110px;
        display: inline;
        /* top: -1%; */
    }

    .conteiner-location {}

    .conteiner-location i {}


    .conteiner-location h3 {}

    .conteiner-location h2 {}

    .Redes {
        position: relative;
        left: 98%;
        margin-bottom: 32px;
    }

    .conteiner-iconos {
        /* position: relative; */
        /* display: inline; */
        left: 90%;
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {}

    .contenedor-copy p {}

}




/*Laptop*/
@media  (min-width: 769px) {

    .footer {

background: var(--rojo);

height: 120px;

display: flex;

flex-direction: column;

justify-content: center;

align-items: center;

}

    .footer .info-footer {}

    .footer .info-footer ul {}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
        display: none;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .conteiner-phone a {

padding-top: 21px;

margin-right: 52px;

position: absolute;

}


    .direction-f {
    /* position: relative; */
    /* margin-block-start: 0px; */
    position: absolute;
    left: 8%;
    padding: 13px;
    border: solid var(--blanco);
    border-radius: 13px;
    font-size: 15px;
    color: var(--blanco);
    top: 9px;
    }

    .conteiner-location {
        display: flex;
        padding-bottom: 21px;
        position: absolute;
        left: 24px;
        font-size: 17px;
    }

    .conteiner-location i {
        font-size: 37px;
    }


    .conteiner-location h3 {
        display: flex;
        display: inline-block;
        padding-top: 21px;
        margin-right: 48px;
        font-size: 17px;
        font-family: var(--poppins);
    }

    .conteiner-location h2 {}

    .Redes {
    position: absolute;
    left: 83%;
    padding: 13px;
    border: solid var(--blanco);
    border-radius: 13px;
    font-size: 15px;
    color: var(--blanco);
    /* top: -1px; */
    bottom: -50%;
    }

    .conteiner-iconos {
        padding-bottom: 11px;
        display: flex;
        position: absolute;
        left: 73%;
        /* margin-top: 17px; */
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {
    position: absolute;
    /* justify-content: center; */
    display: flex;
    top: 2px;
    position: relative;
    left: 46%;
    /* padding: 13px; */
    border: solid var(--blanco);
    border-radius: 13px;
    font-size: 15px;
    color: var(--blanco);
    /* top: 9px; */
    margin: 0;
    width: 178px;
    font-size: 18px;
    height: 55px;
    padding-top: 13px;
    padding-left: 21px;
    }

    .contenedor-copy p {
        font-size: 10px;
        position: relative;
        top: 29px;
        left: 12%;
        font-family: var(--poppins);
        font-size: 9px;
    }

}
   


   /*
   .caja-footer{
        background: var(--rojo);
    }
    .footer .info-footer {
    text-align: center;
    padding-top: 10px;
    width: 100vw;
    }

    .footer .info-footer ul {padding: 0;}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
        padding-top: revert;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .conteiner-phone a {

text-decoration: none;

color: black;

padding-top: 5px;

font-weight: bold;
}


    .direction-f {
        display: none;
    }

    .conteiner-location {
    display: flex;
    width: 100%;
    justify-content: center;
    }

    .conteiner-location i {
    font-size: 25px;
    }


    .conteiner-location h3 {
    font-size: 15px;
    margin: 0;
    padding-top: 10px;
    font-weight: bolder;
    }

    .conteiner-location h2 {}

    .Redes {
        display: none;
    }

    .conteiner-iconos {
    padding: 10px 0px;
}

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        display: none;
    }

    .contenedor-copy p {
        margin: 0;
        font-size: 9.5px;
        font-weight: bold;
    }

/*Tablet*/  /*
@media (min-width: 425px) {

    .footer {
    }

    .footer .info-footer {
    padding-top: 30px;
}

    .footer .info-footer ul {
}

    .footer .info-footer .conteiner-phone {}

    .conteiner-phone i {}

    .conteiner-phone a {}


    .direction-f {
        left: 50%;
        display: inline;
        top: -34%;
    }

    .conteiner-location {}

    .conteiner-location i {}


    .conteiner-location h3 {}

    .conteiner-location h2 {}

    .Redes {
        margin-bottom: 32px;
    }

    .conteiner-iconos {}

    .conteiner-iconos a {}



    .contenedor-copy h2 {}

    .contenedor-copy p {}

}




/*Laptop*/ /*
@media screen and (min-width: 769px) {

    .footer {

}

    .footer .info-footer {
    padding: 0;
}

    .footer .info-footer ul {
    display: flex;
    flex-wrap: wrap;
}

    .footer .info-footer .conteiner-phone {
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .conteiner-phone a {

}


    .direction-f {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
    }

    .conteiner-location {
        font-size: 17px;
    }

    .conteiner-location i {
        font-size: 37px;
    }


    .conteiner-location h3 {
        font-size: 17px;
        font-family: var(--poppins);
    }

    .conteiner-location h2 {}

    .Redes {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
        display: block;
        width: 150px;
    }

    .conteiner-iconos {
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        padding: 13px;
        border: solid var(--blanco);
        border-radius: 13px;
        font-size: 15px;
        color: var(--blanco);
        display: flex;
        width: 150px;
    }

    .contenedor-copy p {
        font-family: var(--poppins);
        font-size: 9px;
    }

}

*/