/* CELULAR */
.headerPrincipal {
    height: 93px;
    display: flex;
    justify-content: space-around;
    background-color: var(--rojo);
}

.headerPrincipal .cajaHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}
div.cart-logo{
    display: flex;
    align-items: center;
}
i.fa-solid.fa-cart-shopping{
     transition: 300ms;
     color: var(--bs-form-valid-color);
     font-size: 41px;
     margin: 10px;
     }
i.fa-solid.fa-cart-shopping:hover {
   
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
    font-size: 23px;
    color: var(--bs-form-valid-border-color);
}

.headerPrincipal img {
    width: 37%;
    /* position: relative; */
    left: 0%;
}

.headerPrincipal div.conteiner {
    display: flex;
    flex-direction: row-reverse;
}

.headerPrincipal h5 {
    text-align: center;
    font-family: var(--frijole);
    color: var(--gris);
    font-size: medium;
    display: none;
    width: 68px;
}
.search-bar{display: none;}
.headerPrincipal .burger-menu i {
    font-size: 40px;
    margin-left: 30px;
    display: none;
}


.headerPrincipal nav.opcionPrincipal {
    display: none;
}
div.div{}



/*Tablet*/
@media(min-width: 425px) {

    .headerPrincipal {
        background: var(--rojo);
        height: 100%;
        width: 100%;
        position: relative;
    }

    .headerPrincipal img {}
    .headerPrincipal .cajaHeader {
        /* padding: 10px 0px; */
        /* font-family: var(--colorproducto); */
        display: flex;
        flex-direction: column;
        height: auto;
        /* width: 100%; */
    }
    div.cart-logo{}
    i.fa-solid.fa-cart-shopping{ 
        transition: 300ms;
       ;}
   i.fa-solid.fa-cart-shopping:hover {
      
       transform: rotate(360deg);
       box-shadow: 0 0 5px var(--green);
       font-size: 23px;
       color: var(--bs-form-valid-border-color);
   }


    .headerPrincipal h5 {
        display: none;
    }
    .search-bar{}


    .headerPrincipal .burger-menu {
        /* display: none; */
        /* width: initial; */
    }

    .headerPrincipal .opcionPrincipal ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        flex-wrap: nowrap;
        font-family: var(--comic);
        width: 100%;
        align-content: center;
        align-items: center;
        margin: 0;
    }

    .headerPrincipal .opcionPrincipal ul li {
        border: solid 2px var(--gris);
        /* border-radius: 14px; */
        border: none;
    }

    .headerPrincipal .opcionPrincipal ul li a {
        color: var(--gris);
        font-family: var(--antiqua);
    }


    .headerPrincipal .opcionPrincipal .opcion {
        padding: 9px;
    }

    .headerPrincipal .opcionPrincipal .opcion1 {
        padding: 9px;
    }
    div.div{}

}



/*laptop*/
@media screen and (min-width: 769px) {

    .headerPrincipal {
        background-color: var(--rojo);
        font-family: var(--comic);
        display: flex;
        height: 25vh;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        /* border-bottom-left-radius: 100px; */
        /* border-bottom-right-radius: 100px; */
    }

    .headerPrincipal img {
    position: relative;
    left: 33%;
    width: 35%;
}
    .headerPrincipal div.conteiner {
        display: flex;
        flex-direction: row-reverse;
    }

    .headerPrincipal h5 {
        text-align: center;
        /* font-family: var(--frijole); */
        color: var(--gris);
        /* font-size: medium; */
        display: none;
        width: 68px;
        font-family: var(--comic);
    }
    .search-bar{display: flex;
        position: absolute;
        top: 90%;
        align-items: center;
justify-content: flex-end;}
.search-bar input{width: 500px;}

    .headerPrincipal .burger-menu i {
        display: none;
    }


    .headerPrincipal nav.opcionPrincipal {
        display: flex;
        position: relative;
        /* right: 8%; */
        font-family: var(--comic);
        bottom: 29%;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #0000003b;
    }

    .headerPrincipal .opcionPrincipal ul li {
        /* padding: 5%; */
        /* margin-left: 10%; */
        border: none;
        font-family: var(--comic);
        flex: 1;
        margin: 5%;
    }

    .headerPrincipal .opcionPrincipal ul li a {
        text-decoration: none;
        cursor: pointer;
        font-size: 200%;
        font-family: sans-serif;
    }
    .headerPrincipal .opcionPrincipal ul li a:hover {
      
       color: rgb(3, 3, 3);
    }
    div.cart-logo{}
    i.fa-solid.fa-cart-shopping{ 
        transition: 300ms;
       ;}
   i.fa-solid.fa-cart-shopping:hover {
      
       transform: rotate(360deg);
       box-shadow: 0 0 5px var(--green);
       font-size: 23px;
       color: var(--bs-form-valid-border-color);
   }
   div.div{
    margin-left: 9%;
}


}