/* CELULAR */
.headerPrincipal {
    height: 93px;
    display: flex;
    justify-content: space-around;
    background-color: var(--rojo);
}

.headerPrincipal .cajaHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}

.headerPrincipal img {
    width: 75px;
}

.headerPrincipal div.conteiner {
    display: flex;
    flex-direction: row-reverse;
}

.headerPrincipal h5 {
    text-align: center;
    font-family: var(--frijole);
    color: var(--gris);
    font-size: medium;
    display: none;
    width: 68px;
}

.headerPrincipal .burger-menu i {
    font-size: 40px;
    margin-left: 30px;
}


.headerPrincipal nav.opcionPrincipal {
    display: none;
}


/*Tablet*/
@media(min-width: 425px) {

    .headerPrincipal {
        background: var(--rojo);
        height: 100%;
        width: 100%;
        position: relative;
    }

    .headerPrincipal .cajaHeader {
        padding: 10px 0px;
    }

    .headerPrincipal h5 {
        display: none;
    }

    .headerPrincipal .burger-menu {
        /* display: none; */
    }

    .headerPrincipal .opcionPrincipal ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
    }

    .headerPrincipal .opcionPrincipal ul li {
        border: solid 2px var(--gris);
        border-radius: 14px;
    }

    .headerPrincipal .opcionPrincipal ul li a {
        color: var(--gris);
        font-family: var(--antiqua);
    }


    .headerPrincipal .opcionPrincipal .opcion {
        padding: 9px;
    }

    .headerPrincipal .opcionPrincipal .opcion1 {
        padding: 9px;
    }

}



/*laptop*/
@media screen and (min-width: 769px) {

    .headerPrincipal {
        background-color: var(--rojo);
    }

    .headerPrincipal div.conteiner {
        display: flex;
        flex-direction: row-reverse;
    }

    .headerPrincipal h5 {
        text-align: center;
        font-family: var(--frijole);
        color: var(--gris);
        font-size: medium;
        display: none;
        width: 68px;
    }

    .headerPrincipal .burger-menu i {
<<<<<<< HEAD
        display: none;
=======
        font-size: 49px;
        -
        top: auto;
>>>>>>> 58c3765251d6b694a3686cbad462028375d5333a
    }


    .headerPrincipal nav.opcionPrincipal {
        display: flex;
    }

    .headerPrincipal .opcionPrincipal ul li {
        padding: 5px;
        margin-left: 21px;
    }

    .headerPrincipal .opcionPrincipal ul li a {
        text-decoration: none;
    }

}