.mainhome {
    display: flex;
    flex-wrap: wrap;
}

.mainhome img {
    width: 100%;
}

.mainhome .pizzasbaner {
    display: none;
}

.mainhome .imagena {
    display: none;
}

.pizzasinferior article {

    width: 100%;

    align-items: center;
}

.pizzasinferior article img {
    border-radius: 30px;
    width: 50%;
}

.pizza-cala {
    display: flex;
}

.pizza-roquefort {
    display: none;
}

.descripcion-producto {
    width: 50%;
}

.descripcion-producto2 {
    width: 47%;
}

.pizza-provo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-carousel img {
    width: 100%;
}


.pizzasbaner {
    display: none;
}

.pizza-provo img {
    width: 50%;
    border-radius: 20px;
}

.descripcion-producto2 h3 {
    text-align: center;
}

.descripcion-producto h3 {
    text-align: center;
}

@media (min-width: 425px) {

    .home-main {
        display: flex;

        flex-wrap: wrap;

    }

    .mainhome .pizzasbaner h1 {
        font-family: var(--poppins);
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-carousel {
        width: 75%;
    }


    .pizzas-detalle {
        width: 75%;
    }


    .bannerhome ul {
        font-family: var(--poppins);
    }

    .bannerhome ul li a {
        font-size: 13px;
        color: black;
        text-decoration: none;
    }

    .pizzasinferior article {
        font-family: var(--poppins);
        width: 100%;
        padding-top: 30px;
    }

    .pizzasinferior article h3 {
        text-align: center;
    }

    .pizzasinferior article img {
        margin-left: 10px;
    }

    .pizza-roquefort {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .pizza-provo img {
        margin-right: 10px;
    }

    .pizza-roquefort img {

        width: 50%;

        margin-left: 10px;

        border-radius: 20px;
    }

    .descripcion-producto3 {

width: 48%;

}

    .descripcion-producto3 h3 {

        text-align: center;
    }
}

@media (min-width: 768px) {

    .div-categorias {
        width: 25%;
    }

    .pizzasinferior {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }

    .mainhome .pizzasbaner {
        display: flex;
        flex-wrap: wrap;
        width: 25%;
    }

    .home-carousel {
        width: 75%;
        display: flex;
        align-items: start;
    }

    .home-carousel img {
        width: 100%;
    }

    .anuncios-img {
        display: none;
    }

    .img-logo {
        width: 100%;
    }

    .pizzasbaner {
        width: 100%;
        display: flex;
    }

    .pizzasbaner .anuncios-img img {
        width: 100%;
    }

    .pizzasinferior article {
        width: 75%;
        display: flex;
    }

    .pizza-provo {
    flex-direction: initial;
}

    .pizza-provo img {}

    .div-padre {
        display: flex;
        flex-wrap: wrap;
    }

    .pizza-cala {}

    .home-div {

        display: flex;

        flex-direction: row-reverse;
    }

    .bannerhome ul li a{
        
font-size: 26px;
    }

    .div-categorias h1{
    }

    .carousel{
        width: 100%;
    }

    .pizza-roquefort{
    margin-bottom: 50px;
    }
}