main.main-home{
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: var(--negro);
    cursor: pointer;
}
a:hover{
    color: green;
    filter: blur(0.5px);
  
}
div.card{
    background-color: var(--background-reg);
    /* border-top-left-radius: 36px; */
    border: none;
}
.mainhome {
    display: flex;
    flex-wrap: wrap;
}

.mainhome img {
    width: 100%;
}

.mainhome .pizzasbaner {
    display: none;
}

.mainhome .imagena {
    display: none;
}
div.container-product{
    display: flex;
    flex-direction: column;
    background-color: var(--background-reg);
    align-items: center;
    margin: 15px;
}

h1{
    color: var(--negro);
    display: none;
}
.bannerhome{
    display: none;
}
.product-container{}

.pizzasinferior  {

width: 100%;

/* display: flex; */

/* align-items: center; */
}
a.btn.btn-outline-danger{}

.pizzasinferior img {
    width: 50%;
    border-radius: 29px;
}

.pizza-cala {
    display: flex;
    align-items: center;
}

.pizza-roquefort {
    display: none;
}

.descripcion-producto {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descripcion-producto2 {
    width: 47%;
}
div.card-body{
    background-color: var(--background-reg);
}



h5.card-title{
    color: var(--bs-black);
}

.pizza-provo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-carousel img {
    width: 100%;
}
.d-block{
    width: 94%;
    /* align-self: center; */
    /* display: flex; */
}


.pizzasbaner {
    display: none;
}

img.card-img-top {
    width: 80%;
    border-radius: 31px;
    height: 100%;
}
div.card.aos-init.aos-animate{}


div.contenedor-descrip-home{}

.descripcion-producto2 h3 {
    text-align: center;
}

.descripcion-producto h3 {
    text-align: center;
}
main div.first-div-home{

    /* display: flex; */
    
    background-color: var(--crudo);
    
    /* padding: 10px; */
    
    /* height: 210px; */
    
    width: 33vw;
    
    height: 25vh;
    }
    
    main div.contenedor-img-home {
        /* width: 180px; */
    }
    main div.contenedor-img-home img {
    width: 170px;
    border-radius: 18px;
    }
    
    p.card-text{
    color: var(--bs-black);
}
    div.contenedor-descrip-home{
    /* width: 82px; */
    /* padding: 10px; */
    }

@media (min-width: 361px) {
main.mainhome{}
    .home-main {
        display: flex;

        flex-wrap: wrap;

    }

    .mainhome .pizzasbaner h1 {
        font-family: var(--poppins);
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-carousel {
        width: 75%;
    }
    .d-block{
    width: 90%;
    margin-left: 35px;
}



    .pizzas-detalle {
        width: 75%;
    }
    .bannerhome {
        
position: absolute;
        
left: 311%;
    }
    h1{
        color: var(--negro);
       
    }
    .bannerhome{
    }

    .bannerhome ul {
        font-family: var(--poppins);
        list-style: none;
    }

    .bannerhome ul li a {
        font-size: 13px;
        color: black;
        text-decoration: none;
    }
    div.container-product{/* width: 4%; */display: flex;align-items: stretch;}
.product-container{}
div.card.aos-init.aos-animate{}
div.card-body{}
    .pizzasinferior  {
        font-family: var(--poppins);
        /* width: 100%; */
        padding-top: 30px;
        /* display: flex; */
    }
    div.contenedor-descrip-home{
    /* background-color: var(--background-reg); */
}


    .pizzasinferior  h3 {
        /* text-align: center; */
    }
    .pizzasinferior p{/* width: 320px; */margin: 0;}
    a.btn.btn-outline-danger{
    font-size: 12px;
    width: 77px;
}

    .pizzasinferior ul{
    /* display: flex; */
    margin: 11px;
    /* padding: 65px; */
}



    .pizzasinferior  img {
        /* margin-left: 10px; */
        /* width: 200px; */
        /* position: relative; */
        /* left: 163px; */
        margin: 10px;
    }
.pizza-cala{
}
    .pizza-roquefort {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .pizza-provo img {
        margin-right: 10px;
    }

    .pizza-roquefort img {

        width: 50%;

        margin-left: 10px;

    }

    .descripcion-producto {

/* width: 82%; */

display: flex;

justify-content: space-around;

flex-wrap: wrap;
}

    .descripcion-producto h3 {

        text-align: center;
    }
}
main div.first-div-home{

display: flex;

background-color: var(--crudo);

/* padding: 10px; */

/* height: 210px; */

width: 100vw;

height: 18vh;
}



@media (min-width: 768px) {
main.main-home{
    /* display: flex !important; */
    /* flex-direction: column-reverse; */
    min-height: 160vh;
}
    .div-categorias {
        width: 25%;
        position: absolute;
    }
    .product-container{
    display: flex;
    /* position: relative; */
    top: 41px;
    /* min-width: 27vh; */
    width: 100%;
}
div.card{
    padding: 18px;
    height: 345px;
    width: 30rem;
}
div.card-body{
    margin: 10%;
}

p.card-text{}
    .pizzasinferior {
        display: flex;
        flex-wrap: wrap;
        width: 20%;
        position: relative;
        right: 150px;
    }
    img.card-img-top{
    height: 25vh;
    /* width: 440px; */
}
    .pizzasinferior img{
    width: 265px;
}
    div.descripcion-producto{}
    a.btn.btn-outline-danger{}


    .mainhome .pizzasbaner {
        display: flex;
        flex-wrap: wrap;
        width: 25%;
    }
    .d-block{
    height: 50vh;
    width: 90vw;
    position: relative;
    left: 2%;
}
h1.home{
    /* color: #020304; */
    display: block;
    width: 196px;
    /* position: relative; */
    /* top: 11px; */
    padding: 10px;
    margin: 20px;
    /* color: var(--bs-black); */
    /* color: var(--bs-code-color); */
    backdrop-filter: blur(1px);
}
.bannerhome{
    /* display: block; */
    position: relative;
    left: -16px;
    /* right: 270px; */
    /* top: 20px; */
    display: flex;
    /* display: block; */
    /* background-image: url("../design/imgProducts/bannerCategory.avif"); */
    background-size: 60vw;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    /* font-family: var(--comic); */
 }
.bannerhome ul{
    /* margin-bottom: 70px; */
    display: flex;
    background-color: #a60d0d;
    align-items: stretch;
    padding: 10px;
    width: 30vh;
    flex-direction: column;
    /* font-family: var(--comic); */
}
    .home-carousel {
        width: 75%;
        display: flex;
        align-items: start;
    }

    .home-carousel img {
        width: 100%;
    }

    .anuncios-img {
        display: none;
    }

    .img-logo {
        width: 100%;
    }

    .pizzasbaner {
        width: 100%;
        display: flex;
    }

    .pizzasbaner .anuncios-img img {
        width: 100%;
    }
    div.container-product{
    display: flex;
    width: 98%;
    /* position: relative; */
    top: 571px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

    .pizzasinferior  {
        /* width: 33%; */
        /* display: flex; */
    }

    .pizza-provo {
    flex-direction: initial;
}

    .pizza-provo img {}

    .div-padre {
        /* display: flex; */
        /* height: 71vh; */
    }
div.card.aos-init.aos-animate{
    height: 100%;
}
    main div.contenedor-img-home{
    height: 102px;
}

    .pizza-cala {/* width: 10%; */}

    .home-div {

/* display: flex; */

flex-direction: row-reverse;
}

    .bannerhome ul li a{
        font-size: 32px;
        font-family: var(--corporant);
        display: flex;
        justify-content: center;
        /* color: var(--bs-danger); */
        font-family: var(--comic);
        /* width: max-content; */
        flex-direction: column;
        align-items: center;
    }

    .div-categorias h1{
    font-size: 30px;
    padding: -7px;
    position: relative;
    left: 299%;
    border-bottom: solid;
    }

    .carousel{
        width: 100%;
    }

    .pizza-roquefort{
    margin-bottom: 50px;
    }
    main div.first-div-home {

/* display: flex; */

/* background-color: var(--crudo); */

/* padding: 10px; */

/* height: 210px; */

/* width: 34%; */

/* height: 25vh; */

background-color: var(--background-reg);

}
        
}
div.contenedor-descrip-home{
    width: 20%;
}


