main.main-home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    flex-wrap: nowrap;
    align-content: center;
}
a{
    text-decoration: none;
    color: var(--negro);
    cursor: pointer;
    font-size: 128%;
}
a:hover{
    color: green;
    filter: blur(0.5px);
  
}
div.card{
    background-color: var(--background-reg);
    /* border-top-left-radius: 36px; */
    border: none;
}
.mainhome {
    display: flex;
    flex-wrap: wrap;
}

.mainhome img {
    width: 100%;
}

.mainhome .pizzasbaner {
    display: none;
}

.mainhome .imagena {
    display: none;
}
div.container-product{
    display: flex;
    flex-direction: column;
    background-color: var(--background-reg);
    align-items: center;
    margin: 0px;
    /* background-image: url('../design/imgProducts/5.jpg'); */
    width: 100%;
}
.promo{
    font-family: fantasy;
    font-size: 20px;
    background-color: white;
    width: 100%;
    text-align: center;
}

h1{
    color: var(--negro);
    display: none;
}
.bannerhome{
    display: none;
}
.product-container{}

.pizzasinferior  {

width: 100%;

/* display: flex; */

/* align-items: center; */
}
a.btn.btn-outline-danger{}

.pizzasinferior img {
    width: 50%;
    border-radius: 29px;
}

.pizza-cala {
    display: flex;
    align-items: center;
}

.pizza-roquefort {
    display: none;
}

.descripcion-producto {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descripcion-producto2 {
    width: 47%;
}
div.card-body{
    background-color: rgb(15,15,15);
    display: flex;
    flex-direction: column;
    align-items: center;
}



h5.card-title{
    color: #aecde1;
    font-size: 20px;
}

.pizza-provo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-carousel img {
    width: 100%;
}
.d-block{
    width: 100vw;
    /* align-self: center; */
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0%;
    border-radius: 0;
    width: inherit;
}
.titlehome{
    display: none;
}
.youtube{
    display: flex;
    flex-direction: column;
    height: 700px;
    /* width: 130px; */
    /* position: relative; */
    align-items: center;
    width: auto;
    /* align-self: center; */
}
.youtube-video{
    width: auto;
    /* text-align: center; */
}

.youtubetitle{
    font-size: 20px;
    background-color: white;
    font-family: fantasy;
    width: 100%;
    text-align: center;
}


.pizzasbaner {
    display: none;
}

img.card-img-top {
    width: 100vw;
    border-radius: 0;
    height: 22vh;
    padding: 9px;
}
div.card.aos-init.aos-animate{
}


div.contenedor-descrip-home{}

.descripcion-producto2 h3 {
    text-align: center;
}

.descripcion-producto h3 {
    text-align: center;
}
main div.first-div-home{

    /* display: flex; */
    
    background-color: var(--crudo);
    
    /* padding: 10px; */
    
    /* height: 210px; */
    
    width: 33vw;
    
    height: 25vh;
    }
    
    main div.contenedor-img-home {
        /* width: 180px; */
    }
    main div.contenedor-img-home img {
    width: 170px;
    border-radius: 18px;
    }
    
    p.card-text{
    color: var(--bs-black);
    display: none;
}
    div.contenedor-descrip-home{
    /* width: 82px; */
    /* padding: 10px; */
    }

@media (min-width: 361px) {
main.mainhome{}
    .home-main {
        display: flex;

        flex-wrap: wrap;

    }

    .mainhome .pizzasbaner h1 {
        font-family: var(--poppins);
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-carousel {
        width: 75%;
    }
    .d-block{
    width: 100%;
    margin-left: 0;
    height: 35vh;
    opacity: 0.9;
}
.titlehome{
    display: flex;
    position: relative;
    bottom: 305px;
    font-family: 'Frijole';
    color: rgb(255,255,255);
    filter: drop-shadow(73px 79px 141px black);
    font-size: 35px;
    width: auto;
}


.youtube{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 587px;
}
.youtube-video{
    width: 60vw;
    margin: 10px;
}

    .pizzas-detalle {
        width: 75%;
    }
    .youtubetitle{
    width: auto;
    position: relative;
    bottom: 83px;
    left: 0px;  1; 0;
    font-size: 30px;
    height: 75px;
}

    .bannerhome {
        
position: absolute;
        
left: 311%;
    }
    h1{
        color: var(--negro);
       
    }
    .bannerhome{
    }

    .bannerhome ul {
        font-family: var(--poppins);
        list-style: none;
        margin: 0;
    }

    .bannerhome ul li a {
        font-size: 13px;
        color: black;
        text-decoration: none;
    }
    div.container-product{/* width: 4%; */display: flex;align-items: stretch;margin-top: 300%;}
    .promo{
    font-size: 30px;
    position: absolute;
    top: 143%;
    height: 47px;
    margin: 0;
}

.product-container{}
div.card.aos-init.aos-animate{
    border-radius: 0;
}
div.card-body{
    padding: 0;
}
    .pizzasinferior  {
        font-family: var(--poppins);
        /* width: 100%; */
        padding-top: 30px;
        /* display: flex; */
    }
    div.contenedor-descrip-home{
    /* background-color: var(--background-reg); */
}


    .pizzasinferior  h3 {
        /* text-align: center; */
    }
    .pizzasinferior p{/* width: 320px; */margin: 0;}
    a.btn.btn-outline-danger{
    font-size: 12px;
    width: 77px;
}

    .pizzasinferior ul{
    /* display: flex; */
    margin: 11px;
    /* padding: 65px; */
}



    .pizzasinferior  img {
        /* margin-left: 10px; */
        /* width: 200px; */
        /* position: relative; */
        /* left: 163px; */
        margin: 10px;
    }
.pizza-cala{
}
    .pizza-roquefort {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .pizza-provo img {
        margin-right: 10px;
    }

    .pizza-roquefort img {

        width: 50%;

        margin-left: 10px;

    }

    .descripcion-producto {

/* width: 82%; */

display: flex;

justify-content: space-around;

flex-wrap: wrap;
}

    .descripcion-producto h3 {

        text-align: center;
    }
}
main div.first-div-home{

display: flex;

background-color: var(--crudo);

/* padding: 10px; */

/* height: 210px; */

width: 100vw;

height: 18vh;
}



@media (min-width: 768px) {
main.main-home{
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url();
    padding: 0px;
}
    .div-categorias {
        width: 25%;
        position: absolute;
    }
    .product-container{
    display: flex;
    /* position: relative; */
    top: 41px;
    /* min-width: 27vh; */
    width: 100%;
}
div.card{
    padding: 18px;
    height: 345px;
    width: 30rem;
}
div.card-body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* background-color: hsl(202.15deg 7.96% 22.44% / 75%); */
    /* background-color: rgb(32 32 34 / 81%); */
    background-color: #1d1b1b70;
}

p.card-text{
    display: none;
}
    .pizzasinferior {
        display: flex;
        flex-wrap: wrap;
        width: 20%;
        position: relative;
        right: 150px;
    }
    img.card-img-top{
    height: 400px;
    width: 20v;
    width: 500px;
    /* background-color: hsl(279.69deg 51.34% 8.32% / 75%); */
}
    .pizzasinferior img{
    width: 265px;
}
    div.descripcion-producto{}
    a.btn.btn-outline-danger{
    font-size: 16px;
    width: auto;
    background-color: #ff000073;
    color: black;
}


    .mainhome .pizzasbaner {
        display: flex;
        flex-wrap: wrap;
        width: 25%;
    }
    .d-block{
    opacity: 0.8;
    height: 70vh;
    width: 100vw;
    position: relative;
    left: 0%;
    /* border: solid #c0ffe2 15px; */
    border-radius: 0;
    /* filter: blur(2px); */
}
.titlehome{
    position: absolute;
    top: 52%;
    font-family: var(--frijole);
    left: 6%;
    font-size: 600%;
    color: white;
    filter: drop-shadow(8px 13px 26px black);
}

h1.home{
    /* color: #020304; */
    display: block;
    width: 196px;
    /* position: relative; */
    /* top: 11px; */
    padding: 10px;
    margin: 20px;
    /* color: var(--bs-black); */
    /* color: var(--bs-code-color); */
    backdrop-filter: blur(1px);
}
.bannerhome{
    /* display: block; */
    position: relative;
    left: 0px;
    /* right: 270px; */
    top: 20px;
    display: flex;
    /* display: block; */
    background-image: url("../design/imgProducts/4.jpg");
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    /* font-family: var(--comic); */
    margin-bottom: 80px;
    background-size: cover;
 }
.bannerhome ul{
    /* margin-bottom: 70px; */
    display: flex;
    background-color: #a60d0d;
    align-items: stretch;
    padding: 10px;
    width: 50vh;
    flex-direction: column;
    /* font-family: var(--comic); */
    opacity: 0.8;
}
    .home-carousel {
        width: 75%;
        display: flex;
        align-items: start;
    }

    .home-carousel img {
        width: 100%;
    }

    .anuncios-img {
        display: none;
    }

    .img-logo {
        width: 100%;
    }

    .pizzasbaner {
        width: 100%;
        display: flex;
    }

    .pizzasbaner .anuncios-img img {
        width: 100%;
    }
    div.container-product{
    display: flex;
    /* width: max-content; */
    /* position: relative; */
    top: 571px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    /* position: relative; */
    /* left: 1%; */
    /* top: 20%; */
    margin: 0;
    background-image: url('../design/imgProducts/5.jpg');
    width: 100%;
    /* margin-bottom: 10%; */
    background-size: contain;
    overflow: hidden;
    /* background-color: hsla(0, 100%, 50%, 0.75); */
}
.promo{
    color: #eee;
    font-size: 48px;
    font-family: 'Frijole';
    position: relative;
    bottom: 0px;
    background-color: #000;
    width: 100%;
    text-align: center;
    height: 100px;
}


    .pizzasinferior  {
        /* width: 33%; */
        /* display: flex; */
    }

    .pizza-provo {
    flex-direction: initial;
}

    .pizza-provo img {}

    .div-padre {
        display: flex;
        /* height: 71vh; */
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        align-self: center;
        justify-content: center;
    }
div.card.aos-init.aos-animate{
    height: 70%;
    width: auto;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: hsl(0deg 9.18% 15.58% / 62%);
}
    main div.contenedor-img-home{
    height: 102px;
}

    .pizza-cala {/* width: 10%; */}

    .home-div {

/* display: flex; */

flex-direction: row-reverse;
}

    .bannerhome ul li a{
        
font-size: 38px;
        
font-family: var(--corporant);
        
display: flex;
        
justify-content: center;
        
color: #eee;
        
font-family: var(--comic);
        
/* width: max-content; */
        
flex-direction: column;
        
align-items: center;
    }

    .div-categorias h1{
    font-size: 30px;
    padding: -7px;
    position: relative;
    left: 299%;
    border-bottom: solid;
    }

    .carousel{
        width: 100vw;
        position: relative;
        left: 0%;
        top: -22px;
    }
    .youtube{
    position: relative;
    top: -35px;
    background-color: #0d6efd fil;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* filter: blur(1px); */
    background-color: #000;
    text-align: center;
    justify-content: center;
    height: 400px;
}
.youtube-video{
    width: 30%;
}

.youtubetitle{
    position: relative;
    /* display: block; */
    bottom: 35px;
    left: 0%;
    font-size: 48px;
    background-color: #000;
    font-family: 'Frijole';
    width: 100%;
    text-align: center;
    color: white;
    height: 100px;
}

    .pizza-roquefort{
    margin-bottom: 50px;
    }
    main div.first-div-home {

/* display: flex; */

/* background-color: var(--crudo); */

/* padding: 10px; */

/* height: 210px; */

/* width: 34%; */

/* height: 25vh; */

background-color: var(--background-reg);

}
        
}
div.contenedor-descrip-home{
    width: 20%;
}


