@media  (max-width: 360px) {
    .main-login a { 
        color: azure;
    }
    .main-login {
        background-image: url("../design/imgProducts/publicity.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .main-login form{
        /* border: solid; */
        display: flex;
        background-color: var(--gri);
        border-radius: 18px;
        }
        .main-login form input{
        border: solid;
        border-radius: 18px;
        padding: 6px 2px;
        margin-top: 13px;
        border: none;
    }
    .main-login form button {
        margin: 18px auto;
        border-radius: 18px;
        background-color: var(--verde);
        box-shadow: 1px 1px 1px 1px;
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{list-style: none;padding: 0px;display: inline-flex;flex-direction: column;}
    .main-login .conteiner-red li{
      border: 0.5px black solid;
      display: inline-flex;
      border-radius: 18px;
      padding: 4px;
      margin-bottom: 9px;
      box-shadow: 1px 1px 1px 1px;
      height: 58px;
    }    
    .main-login .conteiner-red li img{
     
    width: 37px;
     
    height: 38px;
    }
    .main-login .conteiner-red li a{
     
    padding-top: 8px;
    }
    .conteiner-red .google-login{background-color: #695df8;}
    .conteiner-red .face-login{background-color: #1877f2;}
    .conteiner-red .insta-login{
        
    background-color: green;
    }
    .conteiner-red .whats-login{
        background-color: var(--gri);
    }}
    
    
        /*TABLET*/
    @media  (min-width: 361px){
        .main-login a { 
            color: azure;
        }
        .main-login {
        background-image: url("../design/imgProducts/publicity.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        /* min-width: 100vh; */
    }
    .main-login form{
        align-items: center;
        /* border: solid; */
        display: flex;
        flex-direction: column;
        background-color: var(--gri);
        border-radius: 18px;
        /* margin-left: 47%; */
        display: flex;
        width: 470px;
        margin-left: 26px;
        }
        .main-login form input{
        border: solid;
        border-radius: 18px;
        padding: 6px 2px;
        margin-top: 13px;
        border: solid .3px;
    }
    .main-login form button {
        margin: 18px auto;
        border-radius: 18px;
        background-color: var(--verde);
        box-shadow: 1px 1px 1px 1px;
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{list-style: none;margin-top: 14px;padding: 0px;display: inline-flex;flex-direction: column;}
    .main-login .conteiner-red li{
      
    border: 0.5px black solid;
      
    display: inline-flex;
      
    border-radius: 18px;
      
    padding: 2px;
      
    margin-bottom: 9px;
      
    box-shadow: 1px 1px 1px 1px;
    }    
    .main-login .conteiner-red li img{
     
    width: 37px;
     
    height: 38px;
    }
    .main-login .conteiner-red li a{
     
    padding-top: 8px;
    }
    .conteiner-red .google-login{background-color: #695df8;}
    .conteiner-red .face-login{background-color: #1877f2;}
    .conteiner-red .insta-login{
        
    background-color: green;
    }
    .conteiner-red .whats-login{
        background-color: var(--gri);
    }}

    @media  (min-width: 768px){


        .main-login a { 
        }
        .main-login {
        
    }
    .main-login form{
      margin-left: 70%;
      }
        .main-login form input{
        }
    .main-login form button {
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{}
    .main-login .conteiner-red li{
      
     
    }    
    .main-login .conteiner-red li img{
    
    }
    .main-login .conteiner-red li a{
     
    }
    .conteiner-red .google-login{}
    .conteiner-red .face-login{}
    .conteiner-red .insta-login{
        

    }
    .conteiner-red .whats-login{
    }
    }
