@media  (max-width: 360px) {
    .main-login a { 
        color: azure;
    }
    .main-login {
        background-image: url("../design/imgProducts/5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    div.image-login{
    /* display: none; */
}
    div.image-login img{display: none;}
    .pizza-login{
    display: none;
}
    .main-login form{
        /* border: solid; */
        display: flex;
        background-color: #364f5e00;
        border-radius: 18px;
        align-items: center;
        flex-direction: column;
        }
        .main-login form input{
        border: solid;
        border-radius: 18px;
        padding: 6px 2px;
        margin-top: 13px;
        border: none;
        width: auto;
    }
    .main-login form button {
        margin: 18px auto;
        border-radius: 18px;
        background-color: var(--verde);
        box-shadow: 1px 1px 1px 1px;
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{list-style: none;padding: 0px;display: inline-flex;flex-direction: column;}
    .main-login .conteiner-red li{
      
border: 0.5px black solid;
      
display: inline-flex;
      
border-radius: 18px;
      
padding: 4px;
      
margin-bottom: 9px;
      
box-shadow: 1px 1px 1px 1px;
      
height: 58px;
    }    
    .main-login .conteiner-red li img{
     
    width: 37px;
     
    height: 38px;
    }
    .main-login .conteiner-red li a{
     
    padding-top: 8px;
    }
    .conteiner-red .google-login{background-color: #695df8;}
    .conteiner-red .face-login{background-color: #1877f2;}
    .conteiner-red .insta-login{
        
    background-color: green;
    }
    .conteiner-red .whats-login{
        background-color: var(--gri);
    }
    .is-valid {
        border-color: green;
        width: 100%;
      }
      
      .is-invalid {
        border-color: red;
      }
      }
    
    
        /*TABLET*/
    @media  (min-width: 361px){
        .main-login a { 
            color: azure;
        }
        .main-login {
        background-image: url("../design/imgProducts/5.jpg");
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        min-height: 100vh;
        /* min-width: 100vh; */
    }
    div.image-login{
    display: none;
}
    div.image-login img{}
    .pizza-login{
    display: none;
}

    .main-login form{
        align-items: center;
        /* border: solid; */
        display: flex;
        flex-direction: column;
        background-color: #364f5e03;
        border-radius: 8px;
        /* margin-left: 47%; */
        display: flex;
        /* width: 470px; */
        margin-left: 26px;
        margin: 0;
        font-family: var(--comic);
        /* height: 6vh; */
        justify-content: flex-start;
        /* margin-bottom: 28px; */
        }
        .main-login form input{
        border: solid;
        border-radius: 5px;
        padding: 6px 2px;
        margin-top: 13px;
        border: solid .3px;
        width: 50%;
    }
    .main-login form button {
        margin: 18px auto;
        border-radius: 18px;
        background-color: var(--verde);
        box-shadow: 1px 1px 1px 1px;
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{list-style: none;margin-top: 14px;padding: 0px;display: inline-flex;flex-direction: column;}
    .main-login .conteiner-red li{
      
    border: 0.5px black solid;
      
    display: inline-flex;
      
    border-radius: 18px;
      
    padding: 2px;
      
    margin-bottom: 9px;
      
    box-shadow: 1px 1px 1px 1px;
    }    
    .main-login .conteiner-red li img{
     
    width: 37px;
     
    height: 38px;
    }
    .main-login .conteiner-red li a{
     
    padding-top: 8px;
    }
    .conteiner-red .google-login{background-color: #695df8;}
    .conteiner-red .face-login{background-color: #1877f2;}
    .conteiner-red .insta-login{
        
    background-color: green;
    }
    .conteiner-red .whats-login{
        background-color: var(--gri);
    }
    .is-valid {
        border-color: green;
      }
      
      .is-invalid {
        border-color: red;
      }
      }

    @media  (min-width: 768px){


        .main-login a {
        font-size: 20px;
        }
        .main-login {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    }
    div.image-login{
    display: flex;
    flex: 1;
    text-align: unset;
    /* align-self: center; */
    /* text-align: center; */
}
    div.image-login img{
    width: 120%;
    position: relative;
    right: 20%;
    height: 100vh;
    padding: 0;
    border-radius: 0;
}
.pizza-login{
    position: absolute;
    top: 55%;
    font-family: var(--frijole);
    left: 6%;
    font-size: 70px;
    color: white;
    filter: drop-shadow(8px 13px 26px black);
    display: block;
    /* align-self: center; */
    font-weight: normal;
    width: min-content;
}

    .main-login form{
      /* margin-left: 55%; */
      height: 50%;
      font-size: 30px;
      height: 100vh;
      width: ;
      border-radius: 0;
      background-color: #364f5e;
      flex: 1;
      opacity: 1;
}
        .main-login form input{
        font-size: 25px;
        text-align: center;
        width: auto;
        }
    .main-login form button {
    font-size: 25px;
    border-radius: 0;
    }
        .main-login form label{}
    
    
    .main-login .conteiner-red {
        
    }    
    
    .main-login .conteiner-red{}
    .main-login .conteiner-red li{
      
     
    }    
    .main-login .conteiner-red li img{
    
width: 50px;
    
height: 50px;
    }
    .main-login .conteiner-red li a{
     
font-size: 24px;
    }
    .conteiner-red .google-login{}
    .conteiner-red .face-login{}
    .conteiner-red .insta-login{
        

    }
    .conteiner-red .whats-login{
    }
    .is-valid {
        border-color: green;
      }
      
      .is-invalid {
        border-color: red;
      }
      
    }
