.main-profile{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
p.title-profile{
    font-size: 23px;
    font-family: var(--comic);
}
form.form-profile{
    background-color: #364f5e;
    /* padding: 200px; */
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}
input#name.form-control-plaintext{
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    width: 200px;
}
input#email.form-control-plaintext{
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    width: 200px;
}
input#state.form-control-plaintext{
  background-color: white;
  border-radius: 12px;
  margin: 20px;
  width: 200px;
  text-align: center;
}
input#city.form-control-plaintext{
  background-color: white;
  border-radius: 12px;
  margin: 20px;
  width: 200px;
  text-align: center;
}
input#number.form-control-plaintext{
  background-color: white;
  border-radius: 12px;
  margin: 20px;
  width: 200px;
  text-align: center;
}
a.but-out{
    background-color: #9e4e59;
    width: 145px;
    border-radius: 8px;
    height: 44px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px;
}
div.user-img{
    width: fit-content;
}
img.user-im{
    border-radius: 312px;
    width: 200px;
}
.but-form{}

.but-out{
    /* display: none; */
}
button {
    background-color: #dc354594; /* Rojo */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: fit-content;
    display: none;
  }
  
  button:hover {
    background-color: #2c7739;
  }

  @media(min-width: 361px){
    .main-profile{
    display: flex;
    align-items: center;
    }
    p.title-profile{
     
    }
    form.form-profile{
    /* display: flex; */
    text-align: center;
    min-height: 55vh;
    width: 80%;
    }
    input#name.form-control-plaintext{
      text-align: center;
      width: 250px;
    }
    input#email.form-control-plaintext{
      text-align: center;
      width: 250px;
    }
    input#state.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 250px;
      text-align: center;
    }
    input#city.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 300px;
      text-align: center;
    }
    input#number.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 250px;
  }
  .but-out{}
  a.but-out{
    background-color: #9e4e59;
    width: 145px;
    border-radius: 8px;
    height: 44px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    div.user-img{}
    img.user-im{
    width: 200px;
    }
    .but-form{
    /* width: 160px; */
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
    .but-out{
    width: 160px;
    display: none;
}

    button {
       width: 160px;
      }
      
      button:hover {
      }
  }
  
  @media(min-width: 768px){
    .main-profile{
    text-align: center;
    font-family: var(--comic);
    display: flex;
    align-items: center;
    /* color: #dfceb6; */
    flex-direction: column;
    align-content: center;
    background-image: url('../design/imgProducts/5.jpg');
    }
    p.title-profile{
     background-color: #dfceb6;
     font-size: 25px;
     font-family: fantasy;
     width: 100%;
     background-color: #41434d9c;
    }
    form.form-profile{
    /* border-radius: 300px; */
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 1;
    background-color: #646473b3;
    }
    input#name.form-control-plaintext{
      text-align: center;
      width: 400px;
    }
    input#email.form-control-plaintext{
      text-align: center;
      width: 400px;
    }
    input#state.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 400px;
      text-align: center;
    }
    input#city.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 300px;
      text-align: center;
    }
    input#number.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 400px;
  }

  button{} 
  a.but-out{
    background-color: #97404f;
    color: white;
    border-radius: 10px;
    height: 44px;
    font-size: 18px;
    width: 160px;
}
a.but-out:hover{
  background-color: green;
  filter: blur(0.5px);

} .but-out{}
    div.user-img{}
    img.user-im{
    width: 500px;
    }
    .but-form{
    /* width: 160px; */
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
    .but-out{
    width: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

    button {
       width: 160px;
       display: flex;
       justify-content: center;
      }
      
      button:hover {
      }
  }