.main-profile{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
p.title-profile{
    font-size: 23px;
    font-family: var(--comic);
}
form.form-profile{
    background-color: #364f5e;
    /* padding: 200px; */
    height: 49vh;
}
input#name.form-control-plaintext{
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    width: 200px;
}
input#email.form-control-plaintext{
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    width: 200px;
}
input#number.form-control-plaintext{
  background-color: white;
  border-radius: 12px;
  margin: 20px;
  width: 200px;
  text-align: center;
}
div.user-img{}
img.user-im{
    
    border-radius: 312px;
}
.but-form{}

.but-out{
    display: none;
}
button {
    background-color: #dc354594; /* Rojo */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: fit-content;
  }
  
  button:hover {
    background-color: #2c7739;
  }

  @media(min-width: 361px){
    .main-profile{
    display: flex;
    align-items: center;
    }
    p.title-profile{
     
    }
    form.form-profile{
    /* display: flex; */
    text-align: center;
    min-height: 55vh;
    width: 80%;
    }
    input#name.form-control-plaintext{
      text-align: center;
      width: 300px;
    }
    input#email.form-control-plaintext{
      text-align: center;
      width: 300px;
    }
    input#number.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 300px;
  }
    div.user-img{}
    img.user-im{
    width: 200px;
    }
    .but-form{
    /* width: 160px; */
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
    .but-out{
    width: 160px;
    display: none;
}

    button {
       width: 160px;
      }
      
      button:hover {
      }
  }
  
  @media(min-width: 768px){
    .main-profile{
    text-align: center;
    font-family: var(--comic);
    display: flex;
    align-items: center;
    }
    p.title-profile{
     
    }
    form.form-profile{
    /* border-radius: 300px; */
    width: 50%;
    align-content: center;
    align-self: center;
    }
    input#name.form-control-plaintext{
      text-align: center;
      width: 300px;
    }
    input#email.form-control-plaintext{
      text-align: center;
      width: 300px;
    }
    input#number.form-control-plaintext{
      background-color: white;
      border-radius: 12px;
      margin: 20px;
      width: 300px;
  }
    div.user-img{}
    img.user-im{
    width: 200px;
    }
    .but-form{
    /* width: 160px; */
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
    .but-out{
    width: 160px;
    display: flex;
}

    button {
       width: 160px;
      }
      
      button:hover {
      }
  }