@media (max-width: 360px) {
    .main-register {

display: flex;

padding: 4%;

justify-content: center;

align-items: center;
background-image: url('../design/ImagenesHD/deliciosa-pizza-interior.jpg');



}


.main-register .form-register {

justify-content: center;

align-items: center;

flex-direction: column;

border: solid 5px #364f5e;

border-radius: 10px;

/* border-right: inset; */

background-color: #364f5e;

margin: 0 auto;

padding: 0%;

/* position: absolute; */

/* width: 335%; */

height: auto;

width: max-content;
}

.conteiner-t-r {
        /* padding-bottom: 0px; */
    }

.conteiner-t-r h4 {
        color: white;
    }

.main-register .form-register div {

        margin: 10px;

        padding-bottom: 13px;
    }






.main-register .form-register div {
    /* font-family: var(--comic); */
}
div.button{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-register .form-register .form-register div h4 {
        color: #dfceb6;

    }
select#state{
    width: 100%;
    font-size: 20px;
}

.error-msg {
        display: none;
        color: red;
    }
    
.error-msg.visible {
        display: block;
    }
    
.main-register .form-register label {

        display: inline-block;
    }





.main-register .form-register input {

border-radius: 10px;

border: none;

padding: 10px;

width: 100%;
}
input#avatar{}
.main-register .conteiner-form .archivos {

width: 199px;

/* margin-left: 52px; */

}

.form-register .conteiner-x {
        right: 7px;
        display: inline-block;
        position: absolute;
        top: 0px;
    }

.form-register .conteiner-x i {
        color: black;
        position: relative;
        top: 99px;
        left: -4px;
    }

.main-register .form-register .conteiner-p-f {

        /* display: inline-flex; */

        flex-direction: column;
    }

.form-register .conteiner-p-f label {

        /* display: inline; */
    }

.form-register .conteiner-p-f input {

        /* display: inline-block; */
    }

.container-butons {
        display: flex;
        flex-direction: column;
    }

.container-butons button {
        background-color: var(--verde);
        border-radius: 0.25rem;
        /* border: dashed; */
        padding: 8px 10px;
        display: block;
        margin-top: 13px;
        width: -webkit-fill-available;
        color: black;
    }

.main-register .c-register {
        display: flex;
    }.error-msg {
        display: none;
        color: red;
    }
    
    .error-msg.visible {
        display: block;
    }
    

    .main-register .c-register h3 {font-size: small;}

    .main-register .c-register a {
        color: var(--blanco);
        font-size: small;
    }
}



@media (min-width: 361px) {
    .main-register {

display: flex;

padding: 2% 5% 5% 5%;

justify-content: center;

align-items: flex-start;

background-color: #dfceb6;

min-height: 100vh;

background-image: url('../design/ImagenesHD/deliciosa-pizza-interior.jpg');

background-size: cover;
}


    .main-register .form-register {

align-items: center;

flex-direction: column;

display: flex;

border: solid 5px #6c757d;

border-radius: 10px;

/* border-right: inset; */

background-color: #364f5e;

margin: 0 auto;

padding: 10px;

position: relative;

width: max-content;

font-family: var(--comic);

height: auto;
}
div.button{}

    .conteiner-t-r {
        /* padding-bottom: 0px; */
    }

    .conteiner-t-r h4 {
        color: white;
    }.error-msg {
        display: none;
        color: red;
    }
    
    .error-msg.visible {
        display: block;
    }
    

    .conteiner-form {}

    .conteiner-form div {
        /* flex: 0 0 50%; */
        /* box-sizing: border-box; */
        /* padding: 10px; */
    }

    .main-register .form-register div {

margin: 10px;

padding-bottom: 13px;

display: flex;

flex-wrap: wrap;

flex-direction: column;

align-items: stretch;
}
    .main-register .conteiner-form .archivos {

width: 168px;

margin-left: 52px;

}

    .main-register .conteiner-form {
        /* display: flex; */
        /* flex-wrap: wrap; */
    }






    .main-register .form-register .form-register div {}

    .main-register .form-register .form-register div h4 {
        color: #dfceb6;

    }









    .main-register .form-register input {

border-radius: 10px;

border: none;

padding: 10px;

/* display: flex; */

width: 100%;

font-size: 30px;

flex-direction: row;
}
input#avatar{
    /* display: flex; */
    /* flex-wrap: nowrap; */
    width: 169%;
}

    .form-register .conteiner-x {
        right: 7px;
        display: inline-block;
        position: absolute;
        top: 0px;
    }

    .form-register .conteiner-x i {
        color: black;
    }



    .container-butons {
        display: flex;
        flex-direction: column;
    }

    .container-butons button {
        background-color: var(--verde);
        border-radius: 0.25rem;
        /* border: dashed; */
        padding: 7px 0px;
        display: block;
        margin-top: 13px;
        color: black;
        width: 147px;
    }

    .main-register .c-register {}

    .main-register .c-register h3 {
    font-size: medium;
}

    .main-register .c-register a {
        color: var(--blanco);
    }
}