<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="/css/dashboard.css">

</head>
<body class="conteinerDashboard">


    <img class="img-logo" src="./design/icons/logo.png" alt="">

    <div class="barraVertical">



        <div class="lupa-busqueda">
            <input type="text" name="" id="barra-busqueda">
            <button><i id="lupa" class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <ul>
            <li><i class="fa-solid fa-users"></i><span> Usuarios</span></li>
            <li><i class="fa-solid fa-shop"></i><span> Lista de productos</span></li>
            <li><i class="fa-solid fa-chart-simple"></i><span> Analíticas</span></li>
            <li><i class="fa-solid fa-message"></i><span> Mensajes</span></li>
            <li><i class="fa-solid fa-file"></i><span> Archivos</span></li>
            <li><i class="fa-solid fa-truck"></i><span> Pedidos</span></li>
            <li><i class="fa-regular fa-heart"></i><span> Favoritos</span></li>
            <li><i class="fa-solid fa-gear"></i><span> Configuración</span></li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



    </div>
</body>
</html>