<header class="headerPrincipal">
    <div class="cajaHeader">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <h5>LA PIZZA QUE TE GUSTA</h5>
        <nav class="opcionPrincipal">
            <div class="home-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="carrito/cart">Carrito</a></li>
                <li><a href="/admin">Aministrador</a></li>
                <li><a href="aut/registro">Registrate</a></li>
            </ul>
        </div>
        </nav>
        <a href="/"> <img src="../../../design/icons/logo.png" alt="logo pizza"></a>
    </div>
</header>