<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <main class="main-form-n">
        <form class="form-new" action="/admin/crear-producto" method="post" enctype="multipart/form-data">
            <div class="new-contentx">
                <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div>
                <h1 class="titulo">Crear producto</h1>
            </div>
            <div class="new-title">
                <input type="text" id="nombre" name="nombre" placeholder="Nuevo titulo">
            </div>
            <div class="new-price">
                <input type="text" id="precio" name="precio" placeholder="Nuevo precio">
            </div>
            <div class="new-description">
                <input type="text" id="descripcion" name="descripcion" placeholder="Nueva descripcion">
            </div>
            <div class="new-category">
                <label for="category">Categoria</label>
                <select name="categoria" id="categoria">
                    <option value="margarita">Clásicas</option>
                    <option value="cuatro-q">Pizza del mes</option>
                    <option value="peperoni">Promo del mes</option>
                    <option value="cuatro-e">Combo</option>
                    <option value="chammpiñon">Individual</option>
                    <option value="hawaiana">Bebida</option>
                </select>
            </div>

            <div class="new-image">
                <label class="label-titulo" for="image">Editar imagen del producto</label>
                <br>
                <input type="file" id="image-N" name="image-N">
            </div>
            <div class="button">
                <button type="submit" id="button-N" name="boton-N">Guardar cambios</button>
            </div>
        </form>
        <%-include("../partials/footer")%>

        
    </main>
</body>
</html>