<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <main class="main-form-n">
        <form class="form-new" method="post" action="/admin/crear-producto">
            <div class="new-contentx">
                <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div>
                <h1 class="titulo">Crear producto</h1>
            </div>
            <div class="new-title">
                <input type="text" id="name" name="name" placeholder="Nuevo titulo">
            </div>
            <div class="new-price">
                <input type="text" id="price" name="price" placeholder="Nuevo precio">
            </div>
            <div class="new-description">
                <input type="text" id="description" name="description" placeholder="Nueva descripcion">
            </div>
            <div class="new-category">
                <label for="category">Categoria</label>
                <select name="category" id="category">
                    <option value="margarita">Clásicas</option>
                    <option value="cuatro-q">Pizza del mes</option>
                    <option value="peperoni">Promo del mes</option>
                    <option value="cuatro-e">Combos</option>
                    <option value="chammpiñon">Individuales</option>
                    <option value="hawaiana">Bebidas</option>
                  
                </select>
            </div>

            <div class="new-image">
                <label class="label-titulo" for="image">Editar imagen del producto</label>
                <br>
                <input type="file" id="image" name="image">
            </div>
            <div class="button">
                <button type="submit" id="button-N" name="boton-N">Guardar cambios</button>
            </div>
        </form>
        
        
    </main>
<%-include("../partials/footer")%>

    
<!-- <%-include("../partials/dashboard")%> -->

</body>
</html>