<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>

<main>
<h1>Listado de Productos</h1>

<table>
    <th>Imagen del Producto</th>
    <th>Descripcion</th>
    <th>Precio</th>
</table>
</main>


<%-include("../partials/footer")%>

</body>